@model int
@{
    ViewData["Title"] = "FeetToMiles";
}

    <div class="header darkBlue">
        Feet to Miles
    </div>
    <div id="app">
        <br />
        <form action="SayHello" method="post">
            <div class="jumbotron">
                <p>Feet: <div><input name="Feet" class="input lineBoarder" type="number" /></div></p>
                <p>Miles: <div class="output lineBoarder" />@Model</p>
                <p>Miles: <div><input name="Miles" class="input lineBoarder" typer="number" /></div></p>
                <p>Feet: <div class="output lineBoarder" />@Model</p>
                <input name="submit" type="submit" />
            </div>
            </form>
            <p>
                @Model
            </p>

